*{
    margin: 0;
    padding: 0;
}
body{
    background: #000000;
}

.container{
    width: 80%;
    margin: 80px auto;
}
.container hl{
    padding: 60px 0;
    color: #fff;
    font-size: 55px;
    text-align: center;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.col{
    flex-basis: 50%;
    min-width: 250px;
}
.movie-img{
    width: 230px;
    padding: 5px;
    filter: grayscale(100%);
    transition: 1s;
}
.movie-img:hover{
    filter: grayscale(0);
    transform: scale(1.1);
}